@using Diana.Models;
@model List<Products>
@{
    var count = 0;
}
<div class="container">
    <div class="row">
                <div>
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create</a>
                </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Material</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Name</td>
                        <td>@item.Category.Name</td>
                        @foreach (var material in item.ProductMaterials)
                        {
                            <td>material.Material.MaterialName</td>
                        }
                        @foreach (var size in item.productSizes)
                        {
                            <td>size.Sizes.SizeName</td>
                        }
                        @foreach (var color in item.ProductColors)
                        {
                            <td>color.Colors.ColorName</td>
                        }
                        <td>@item.Price</td>
                        <td>
                            <a class="btn btn-secondary" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Update</a>
                            <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
              
            </tbody>
        </table>
    </div>
</div>




